<h1>商品詳細</h1>

<div><% if @item.image.attached? %>
        <%= image_tag @item.image, size: "150x150" %>
      <% else %>
        <%= image_tag 'no_image', size: "150x150" %>
      <% end %></div>

<div>商品名　<%= @item.name %></div>
<div>商品説明　<%= @item.introduction %></div>
<div>ジャンル　</div>
<div>税込価格（税抜価格）（<%= @item.price %>）</div>
<div>販売ステータス</div>

 <%= link_to "編集する","/admin/items/#{@item.id}/edit" %>