<div class="container">
  <div class="row">
    <div class="mt-5 col-3">
      <div class="sidebar">
      <!--今回は時間が足りず実装していないが「ジャンル検索部分」-->
      </div>
    </div>

    <div class="main col-9 mt-5">
      <div class="card mt-3 pl-5 col-8">
        <div>ようこそ、ながのCAKEへ！</br>
             このサイトは、ケーキ販売のECサイトになります。</br>
             会員ではない方も商品の閲覧はできますが、</br>
             購入には会員登録が必要になります。
        </div>
      </div>

      <div class="mt-3 ml-1 col-8">
        <h3>新着商品</h3>

        <div class="mt-3 ml-1 col-8 d-flex">
          <% @items.last(4).each do |item| %>
            <div class="mt-3 col">
              <%= link_to item_path(item) do %>
                <% if item.image.attached? %>
                  <%= image_tag item.image, size: "150x150" %>
                <% else %>
                  <%= image_tag 'no_image', size: "150x150" %>
                <% end %></br>
               <% end %>
              <%= link_to item_path(item) do %>
                <%= item.name %>
              <% end %></br>
              ￥<%= item.with_tax_price %>
            </div>
          <% end %>
          </div>

      </div>
       <p style="text-align:right;"><%=link_to '全ての商品を見る>' ,items_path %></p>
    </div>
  </div>
</div>