<div class="container">
  <div class="row">
    <div class="col-10 mx-auto mt-5">
      <h4>注文履歴一覧</h4>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">購入日時</th>
            <th scope="col">購入者</th>
            <th scope="col">注文個数</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
           <td><%= link_to admin_order_path(order.id) do%>
               <%= order.created_at.strftime('%Y/%m/%d/%T') %>
               <% end %></td>
           <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
               <!--↓個数の合計の出し方-->
           <td><%= order.order_details.sum(:quantity) %></td>
          </tr>
          <% end %>
       </tbody>
      </table>
     <div class="col-10 mx-auto"><%= paginate @orders %></div>
    </div>
  </div>
</div>

