<!DOCTYPE html>
<html>
<div class="container-fluid">
  <div class="row">

  <div class="mt-5 ml-1 col-4">
    <h1>商品一覧</h1>
      <div class="mt-3 mx-auto col d-flex">
        <% @items.each do |item| %>
          <div class="mt-3 col flex-wrap">

      <% if item.image.attached? %>
        <%= image_tag item.image, size: "150x150" %>
        <% else %>
        <%= image_tag 'no_image', size: "150x150" %>
        <% end %>

       <%= link_to item_path(item) do %>
          <%= item.name %>
          <% end %>
        </br>
      ￥<%= item.with_tax_price %>
      </div>
  <% end %>

  </div>

  </div>
  </div>
</div>