<h1>商品一覧</h1>


 <table>
  <% @items.each do |item| %>
    <tr>

         <td><% if item.image.attached? %>
                <%= image_tag item.image, size: "150x150" %>
             <% else %>
                <%= image_tag 'no_image', size: "150x150" %>
             <% end %></td>
          </tr>

     <tr>

       <td><%= link_to item_path(item) do %>
          <%= item.name %>
          <% end %></td>
        </tr>
    <tr>
      <td>￥<%= item.price %></td>
    </tr>
<% end %>
   </tbody>
  </table>